pyspark
datasets
pandas
matplotlib
seaborn
colorcet
jupyter
umap-learn
openai
langchain-community
langchain-text-splitters
langchain_huggingface
langchain_openai
tiktoken
sentence_transformers
langchain-chroma>=0.1.2
transformers 
torch